<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<div class="container" >

    <h1>Food Entry </h1>

    {%for m in messages%}
        {{m}}
    {%endfor%}

        <form action="" method="post" enctype="multipart/form-data">
            {%csrf_token%}

            {{form}}

            <button type="submit">add</button>

        </form>

        <a href="{%url 'image-process'%}">Upload Photo</a>

</div>

<div class="chat-window" style=" position: fixed;right: 0;bottom: 0;">

    <iframe
    src="https://www.chatbase.co/chatbot-iframe/YdQiK-PaSM0y3LXHCks2o"
    width="300px"
    style="height:300px; min-height: 700px ;border: 1px solid red;"
    frameborder="0"
></iframe>

</div>

</body>
</html>