<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <h1>ProfileDetail</h1>

    <div>
        <p>Username:{{request.user.username}}</p>
        <p>Email:{{request.user.email}}</p>
        <p>Height :{{profile.height}}</p>
        <p>Weight :{{profile.weight}}</p>
        <p>BMR:{{profile.bmr}}</p>
        <p>Activity_level:{{profile.activity_level}}</p>
        <p>Gender:{{profile.gender}}</p>
    </div>
</body>
</html>